:root {
    --main-cyan:hsl(176, 50%, 47%);
    --light-cyan:hsl(176, 72%, 28%);
    --black:hsl(0, 0%, 0%);
    --dark-gray:hsl(0, 0%, 48%);
    --lighter-gray:hsl(0, 0%, 98%);
    --white:hsl(0, 0%, 100%);
    --shadow-body:rgba(0,0,0,0.2);
    --light-gray:hsl(0,0%,90%);
}


body{
    margin:0;
    font-family: 'Commissioner', sans-serif;
    background-color: var(--lighter-gray);
}

p{
    color:var(--dark-gray);
}

#container{
    display: grid;
    grid-template-columns: 25% repeat(4, 1fr) 25%;
    grid-template-rows: 1fr 15vh 0.6fr 30px 0.4fr 30px 100vh 30px;
}

header{
    grid-column: 1/7;
    grid-row:1/3;
    background-image: url("../../images/image-hero-desktop.jpg");
    /* height: 55vh; */
    background-repeat: no-repeat;
    background-size: 100vw;
    padding:0 0 25% 0 ;
}


.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    padding: 16px 0 0 12%;
}


.menu li, a{
    list-style: none;
    display: inline;
    text-decoration: none;
    font-weight: 400;
    color: var(--white);
    padding: 0 8px;
}


.menu{
    padding: 0 12% 0 0;
}

.body-first{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:2/4;
    border-radius: 10px;
    padding:0 8%;
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    text-align: center;
}

.body-first img{
    position: relative;
    top: -8%;
}
.buttons{
    display:flex;
    justify-content:space-between;
    padding:5% 0;
}


.back-us{
    background-color:var(--main-cyan);
    border:none;
    border-radius:50px;
    padding:3% 8%;
    color:var(--white);
    font-weight:700;
}

.bookmark{
    background-color:var(--light-gray);
    border:none;
    border-radius:50px;
    position:relative;
    padding:2% 3% 2% 11%;
    font-weight: 700;
    color:var(--dark-gray);
}

.bookmark img{
    width:50px;
    position:absolute;
    top:0;
    left:0;
    padding:0 2% 0 0;
}




.body-sec{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:5/6;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    display:inline-flex;
}

.body-third{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:7/8;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
-webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
-moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
}

