:root {
    --main-cyan:hsl(176, 50%, 47%);
    --light-cyan:hsl(176, 72%, 28%);
    --black:hsl(0, 0%, 0%);
    --dark-gray:hsl(0, 0%, 48%);
    --lighter-gray:hsl(0, 0%, 98%);
    --white:hsl(0, 0%, 100%);
    --shadow-body:rgba(0,0,0,0.2);
    --light-gray:hsl(0,0%,90%);
    --body-padding:0 8%;
}


body{
    margin:0;
    font-family: 'Commissioner', sans-serif;
    background-color: var(--lighter-gray);
    line-height: 1.7em;
}

p{
    color:var(--dark-gray);
    font-size:14px;
}

button, input[type="submit"]{
    cursor:pointer;
}

#container{
    display: grid;
    grid-template-columns: 25% repeat(4, 1fr) 25%;
    gap:20px;
}

#burger{
   display: none;
}   

.hideBurger{
    display: none !important;
}


header{
    grid-column: 1/7;
    grid-row:1/3;
    background-image: url("../../images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    padding:0 0 25% 0 ;
}


.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    padding: 16px 0 0 12%;
}

.menu li, a{
    list-style: none;
    display: inline;
    text-decoration: none;
    font-weight: 400;
    color: var(--white);
    padding: 0 8px;
}


.menu{
    padding: 0 12% 0 0;
}

.body-first{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:2/4;
    border-radius: 10px;
    padding: var(--body-padding);
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    text-align: center;
}

.body-first img{
    position: relative;
    top: -8%;
}
.buttons{
    display:flex;
    justify-content:space-between;
    margin:5% 0 0 0;
}


.back-us{
    background-color: var(--main-cyan);
    border: none;
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    height: 56px;
    width: 200px;
}

.green:hover{
    background-color: var(--light-cyan);

}

.bookmark{
    background-color: var(--light-gray) !important;
    border: none;
    border-radius: 50px;
    width: 160px;
    height: 56px;
    padding:0 14px 0 0 ;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--darker-gray);
}


.bookmark img{
    top:0 !important;
    left:-10% !important;
}


.deactive{
    display: none;

}

.bookmarked{
    color:var(--main-cyan);
}



.body-sec{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:4/5;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    padding: var(--body-padding);
}

.progress{
    display: grid;
    justify-content: space-between;
    width:100%;
    padding:5% 0;
    grid-template-columns: repeat(3, 1fr);
}

.progress p, h2{
    margin: 0
}

.progress-bar{
    position: relative;
    background-color: var(--light-gray);
    width: 100%;
    height:12px;
    border-radius:50px;
    margin:0 0 5%
}
.bar{
    position: absolute;
    background-color: var(--main-cyan);
    height:12px;

    border-radius:50px;
}

.body-third{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:5/6;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
-webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
-moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
padding: var(--body-padding);
margin:0 0 5%;
}

form#rewardOne, form#rewardTwo, form#rewardThree{
    display: flex;
    justify-content: space-between;
}


.inner-sect{
    padding: 0 4% 3%;
    border:1px solid var(--light-gray);
    border-radius: 15px;
    margin: 0 0 4% 0;
}

.inner-sect h3{
    font-size:16px;
}

h2.about-proj{
    font-size: 20px;
    margin-top:5%;
}

.inner-head{
    display: flex;
    justify-content: space-between;
}
.reward, .reward2{
    background-color: var(--main-cyan);
    border: none;
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    height: 45px;
    width: 150px;
}


.inner-head p{
    color: var(--main-cyan);
    font-size:0.8em;
}

.inner-sect.three, .mahogany{
    pointer-events: none;
    opacity: 0.4;
}

.inner-sect.three button, .mahogany button{
background-color: var(--dark-gray);
}

.modal, .thanks{  
  position: fixed; 
  z-index: 1;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  width: 100%; 
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 2fr 1fr;
  
}

.close{
    display: flex;
    justify-content: right;
    cursor: pointer;
}

.modal-content{
    background-color: var(--white);
    padding: 5%;
    border-radius: 15px;
    margin: 5% 0;
    grid-column: 2/3;
}

.thanks-content{
    background-color: var(--white);
    width: 70%;
    max-height: 300px;
    padding: 5%;
    border-radius: 15px;
    margin:auto;
    text-align: center;
    grid-column: 2/3;
}



.modal-content span{
    font-weight: 400;
    color: var(--main-cyan);
    padding: 0 1rem;
}

.modal-content p{
    font-size: 14px;
}


input[type="radio"]{
        -webkit-appearance : none;
        appearance         : none;
        margin: 0;
        background-color:#fff;
        font: inherit;
        color: var(--black);
        width: 25px;
        height: 25px;
        border: 1px solid var(--light-gray);
        border-radius: 50%;
        place-content: center;
        display: grid;
        place-content: center;

      }
      

      input[type="radio"]::before{
        content: "";
        width: 12.5px;
        height: 12.5px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--main-cyan);
        border-radius: 50%;
      }

      input[type="radio"]:checked::before {
        transform: scale(1);
      }



.visibility{
    display: none;
}



label{
    font-weight: 700;
    cursor: pointer;
}

label:hover{
    color:var(--light-cyan)
}



.modal-btn{
    background-color: var(--main-cyan);
    border: none;
    border-radius: 50px;
    color: var(--white);
    font-weight: 700;
    height: 40px;
    width: 100px;
    grid-column: 5/6;
}



.hide{
    display:none;
}

.bottom{
    display:grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    gap:12px;

}

.amount{
    grid-column: 1/3;
    font-weight: 400;
    color:var(--dark-gray);
    font-size:1rem;
}

.pledges{
    border: 1px var(--main-cyan) solid;
    border-radius: 50px;
    font-weight: 700;
    height: 40px;
    width: 70px;  
    padding: 0 2%;
    color:var(-black);
    grid-column: 4/5;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:2px;
}

.pledges::before{
    content:"$";
    transform: translateY(15%);
    font-size: 0.8rem;
    grid-column: 2/3;
    color:var(--light-gray)
}

.pledger span, .pledgerSec span, .pledgerThree span{
    color:var(--dark-gray);
    font-weight: 600;
    font-size: 0.8rem;
    padding-left: 5px;
}

.pledger, .pledgerSec, .pledgerThree{
    display: flex;
    align-items: center;

}

input[type="number"]{
    border:none;
    border-radius: 50px;
    font-weight: 700;
    height: 40px;
    width: 57px;  
    padding: 0 2%;
    color:var(-black);
    background-color: rgba(255, 255, 255, 0);
    grid-column: 3/4;
}

input[type="number"]:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.pledges:focus{
    outline: 1px var(--light-cyan) solid!important; 
}

.border{
    border: 1px solid var(--main-cyan)
}


.no-pledge, .bamboo-stand, .black-edition, .mahogany{
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 1fr 1fr;
    gap: 5px;
}

.label{
    grid-column:2/5;
}

.bamboo{
    grid-column:1/2;
}

.stand, .mahog, .black{
  grid-column:5/6;  
  font-weight: 700;
  text-align: right;
}


.stand span, .mahog span, .black span{
        font-weight: 400;
        color:var(--light-gray);
        padding:0 2px;
    }

    
.borde-color{
    border:1px solid var(--main-cyan) !important;
}

.pledge-container{
    border:1px solid var(--light-gray);
    border-radius: 5px;
    margin: 3% 0;
}



.modal-sect-1{
        padding:3%;
    }

.modal-sect-1 p{
    padding:0 0 0 7%;
}

.bottom{
    padding:3% 4%;
}

.hr{
    border-top:1px solid var(--light-gray);
}


@media only screen and (max-width: 1400px){
    #container{
        display: grid;
        grid-template-columns: 1fr repeat(4, 1fr) 1fr;
        gap:20px;
    }
}

    @media only screen and (max-width: 900px){

        #container{
            display: grid;
            grid-template-columns: 1fr repeat(4, 4fr) 1fr;
            gap:20px;
        }
        
        header{
            background-size: 100vh;
        }

        #burger{
            padding:16px 6% 0 0;
            cursor: pointer;
            display: block;

        }        
        

        .menu{
            display: none;
        }

        .modal, .thanks{
            grid-template-columns: 1fr 10fr 1fr;
        }

        .body-first h1{
            margin:0 auto;
        }

        .body-sec {
            text-align: center;
        }

       .back-us{
           width:180px;
       }
       .bookmark{
           width:56px !important;
           display: block !important;
           color:rgba(255, 255, 255, 0)
       }
       .bookmark img{
           left:0 !important;
       }

       .buttons{
        margin:0 0 10% 0;
       }

       .progress{
           display: block !important;
           padding-top:10%;
       }

       .progress div{
           padding-bottom:10%;
       }

       .progress div:not(:last-child):after{
           content: "";
           border-top: 1px solid var(--light-gray);
           width: 30%;
           display: inline-block;
       }

       .progress-bar{
           margin-bottom: 10%;;
       }

       .inner-head{
           display: block;
       }

       .inner-head p{
           margin-top: 0;
       }

       .inner-head h4{
           margin-bottom: 0;
       }

       form#rewardOne, form#rewardTwo, form#rewardThree{
           display: block;
           margin-bottom: 5%;
       }
       form#rewardOne h2, form#rewardTwo h2, form#rewardThree h2{
           margin-bottom: 10%;
       }

       .backProj{
           display: grid;
           grid-template-columns: 90% 10%;
            align-items: center;
       }

       .backProj h3{
           grid-column: 1/2;
           margin:0;
       }

       .close{
           grid-column: 2/3;
       }

       .thanks-content{
        grid-column: 1/3;
        width:100%;
       }

       .amount{
           grid-column: 1/6;
           text-align: center;
       }

       .pledges{
        grid-column: 2/3;
       }
       .modal-btn{
           grid-column: 3/4;
       }

       .mobile{  
        position: fixed; 
        z-index: 1;
        overflow: auto;
        background-color: rgb(0,0,0); 
        background-color: rgba(0,0,0,0.4);
        width: 100%; 
        height: 100%;
        display: grid;
        grid-template-columns: 5% 85% 5% 5%;
        grid-template-rows: 5% 5% 5% 85%;
      }
    
    .mobile-menu{
        background-color: var(--white);
        width: 100%;
        border-radius: 15px;
        margin:auto;
        grid-column: 2/4;
        grid-row:3/4;
    }
    
    .mobile-menu li,a{
        color:var(--darker-gray);
        list-style: none;
        font-weight: 500;
        padding: 0 5%;
    }
    
    .mobile-menu ul{
        padding:0 ;
    }
    
    .mobile-menu li:not(:last-child){
        border-bottom: 1px solid var(--light-gray);
        padding:0 0 5% 0;
    }
    
    .mobile-menu li:nth-child(even){
        padding:5% 0;
    }
    
    .mobile-menu li:last-child{
        padding:5% 0 0 0;
    }
    
    .menu-close{
        grid-column: 3/4;
        grid-row:1/2;
        padding: 16px 0 0 0;
        cursor: pointer;
    }
    
    .logo-mobile{
        padding: 16px 0 0 8.2%;
        grid-column: 2/3;
        
    }
    
    }
