:root {
    --main-cyan:hsl(176, 50%, 47%);
    --light-cyan:hsl(176, 72%, 28%);
    --black:hsl(0, 0%, 0%);
    --dark-gray:hsl(0, 0%, 48%);
    --lighter-gray:hsl(0, 0%, 98%);
    --white:hsl(0, 0%, 100%);
    --shadow-body:rgba(0,0,0,0.2);
    --light-gray:hsl(0,0%,90%);
    --body-padding:0 8%;
}


body{
    margin:0;
    font-family: 'Commissioner', sans-serif;
    background-color: var(--lighter-gray);
    line-height: 1.7em;
}

p{
    color:var(--dark-gray);
}

button{
    cursor:pointer;
}

#container{
    display: grid;
    grid-template-columns: 25% repeat(4, 1fr) 25%;
    grid-template-rows: 1fr 0.5fr 0.3fr 30px 0.5fr 30px 2.5fr 30px;
}



header{
    grid-column: 1/7;
    grid-row:1/3;
    background-image: url("../../images/image-hero-desktop.jpg");
    /* height: 55vh; */
    background-repeat: no-repeat;
    background-size: 100vw;
    padding:0 0 25% 0 ;
}


.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logo{
    padding: 16px 0 0 12%;
}


.menu li, a{
    list-style: none;
    display: inline;
    text-decoration: none;
    font-weight: 400;
    color: var(--white);
    padding: 0 8px;
}


.menu{
    padding: 0 12% 0 0;
}

.body-first{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:2/4;
    border-radius: 10px;
    padding: var(--body-padding);
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    text-align: center;
}

.body-first img{
    position: relative;
    top: -8%;
}
.buttons{
    display:flex;
    justify-content:space-between;
    margin:5% 0;
}


.back-us{
    background-color: var(--main-cyan);
    border: none;
    border-radius: 50px;
    /* padding: 3% 8%; */
    color: var(--white);
    font-weight: 700;
    height: 50px;
    width: 200px;
}

.green:hover{
    background-color: var(--light-cyan);

}

.bookmark{
    background-color: var(--light-gray);
    border: none;
    border-radius: 50px;
    position: relative;
    padding: 0 0 0 30px;
    font-weight: 700;
    color: var(--dark-gray);
    width: 150px;
    height: 50px;
}

.bookmark img{
    width:50px;
    position:absolute;
    top:0;
    left:0;
    padding:0 2% 0 0;
}




.body-sec{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:5/6;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    -moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
    padding: var(--body-padding);
}

.progress{
    display:inline-flex;
    justify-content: space-between;
    width:100%;
    padding:5% 0;
}

.progress p, h2{
    margin: 0
}

.progress-bar{
    background-color: var(--light-gray);
    width: 100%;
    height:12px;
    border-radius:50px;
}

.body-third{
    background-color: var(--white);
    grid-column: 2/6;
    grid-row:7/8;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px var(--shadow-body);
-webkit-box-shadow: 0px 0px 2px 0px var(--shadow-body);
-moz-box-shadow: 0px 0px 2px 0px var(--shadow-body);
padding: var(--body-padding);
}

form#reward{
    display: flex;
    justify-content: space-between;
}


.inner-sect{
    padding: 0 4% 3%;
    border:1px solid var(--light-gray);
    border-radius: 15px;
    margin: 0 0 4% 0;
}

.modal-sect{
    padding: 4% 0;
    border:1px solid var(--light-gray);
    border-radius: 15px;
    margin: 0 0 4% 0;

}

.modal-sect-1{
    padding:0 5%;
}



.inner-head{
    display: flex;
    justify-content: space-between;
}
.reward{
    background-color: var(--main-cyan);
    border: none;
    border-radius: 50px;
    /* padding: 3% 8%; */
    color: var(--white);
    font-weight: 700;
    height: 45px;
    width: 150px;
}


.inner-head p{
    color: var(--main-cyan);
    font-size:0.8em;
}

.inner-sect.three, .seven{
    pointer-events: none;
    opacity: 0.4;
}

.modal{  
  position: fixed; 
  z-index: 1;
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
  width: 100%; 
  max-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.modal-content{
    background-color: var(--white);
    width: 45%;
    padding: 0 2%;
    border-radius: 15px;
    height: 100%;
    margin: 5% 0;
}

.four, .five, .six, .seven{
    position: relative;
}

label{
    font-weight: 700;
}

.modal-content span{
    font-weight: 400;
    color: var(--main-cyan);
    padding: 0 1rem;
}

.modal-content p{
    font-size: 14px;
}

.backers-left{
position:absolute;
left: 90%;
top: 20%;
font-weight: 700;
}

.backers-left span{
    font-weight: 400;
    color:var(--light-gray);
    padding:0 2px;
}

input[type="radio"]{
        -webkit-appearance : none;
        appearance         : none;
        margin: 0;
        background-color:#fff;
        font: inherit;
        color: var(--black);
        width: 25px;
        height: 25px;
        border: 1px solid var(--light-gray);
        border-radius: 50px;
        transform: translateY(1.5rem);
        display: grid;
        place-content: center;

      }
      

      input[type="radio"]::before{
        content: "";
        width: 12px;
        height: 12px;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--main-cyan);
        border-radius: 50px;
      }

      input[type="radio"]:checked::before {
        transform: scale(1);
      }



.visibility{
    display: none;
}

label{
    cursor: pointer;
}


label:hover{
    color:var(--light-cyan)
}

.label{
    padding: 0 6%;
}

.modal-btn{
    background-color: var(--main-cyan);
    border: none;
    border-radius: 50px;
    /* padding: 3% 8%; */
    color: var(--white);
    font-weight: 700;
    height: 40px;
    width: 100px;
    grid-column: 5/6;
}

.hr{
    border-top:1px solid var(--light-gray);
    padding-bottom:1rem;
}

.hide{
    display:none;
}

.bottom{
    display:grid;
    grid-template-columns: 2fr 4fr 1fr 1fr;
    gap:12px;

}

.Amount{
    grid-column: 1/2;
    font-weight: 400;
    color:var(--dark-gray);
    font-size:1rem;
}

input[type="text"]{
    outline: 1px var(--main-cyan) solid;
    border:none;
    border-radius: 50px;
    /* padding: 3% 8%; */
    font-weight: 700;
    height: 40px;
    width: 70px;  
    padding: 0 2%;
    color:var(-black);
    grid-column: 4/5;
}

input[type="text"]:focus{
    outline: 1px var(--light-cyan) solid!important; 
}



